@font-face {
  font-family: 'Beleren';
  src: url('/assets/fonts/Beleren.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Droid Sans Mono';
  src: url('/assets/fonts/DroidSansMono-webfont.woff') format('woff');
  font-weight: normal;
}